
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: lightblue;
  font-color:005073;
  
}

.wrapper {
  background-color: lightblue;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
}

a:link {font-color:#005073;
}
a:visited {
  font-color:#107dac;
  font-style: italic;
}
a:hover {
  font-weight: bold;
  font-style: italic;
}

a:active {
  font-color:#005073;
}


.left, .right {
  background-color: lightblue;
  margin: 0px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  font-color:#005073;
}

.left {
  align-items: center;
  justify-content: center;
}


.profilepic {
  border-radius: 50%;
}
view rawstyle.css hosted with ❤ by GitHub
