
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: lightblue;
  color:#000080;
  text-decoration: none;
  
}

.wrapper {
  background-color: lightblue;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
}

a:link {
  color:#000080;
  text-decoration: none;
}

a:visited {
color:#107dac;
  text-decoration: none;
}

a:hover {
 color:#1ebbd7;
}

a:active {
  text-decoration: none;
}


.left, .right {
  background-color: lightblue;
  margin: -20px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  font-color:#000080;
}

.left {
  align-items: center;
  justify-content: center;
}


.profilepic {
  border-radius: 50%;
}
view rawstyle.css hosted with ❤ by GitHub
